<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/iconfont.css">
  <title><%= page.title %> - 赵紫阳的博客</title>
</head>

<body>
  <!-- CSS loading -->
  <div id="loading">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </div>

  <!-- 导航栏 -->
  <header id="header">
    <nav id="navbar">
      <div class="logo">
        <a href="/">
          <h3 class="logo-title">赵紫阳的博客</h3>
        </a>
      </div>
      <div class="menu">
        <ul class="menu-list">
          <!-- <li><a href="index.html" class="active btn-menu">文章</a></li> -->
          <% for (let category of categories) { %>
          <% if (!category.parentId) { %>
          <li>
            <% if (category.childsTotal > 0) { %>
            <a href="javascript:;" class="btn-menu" data-id="<%= category.id %>"><%= category.cateName %><i
                class="iconfont icon-down"></i></a>
            <% } else { %>
            <a href="/?c=<%= category.cateLink %>" class="btn-menu"><%= category.cateName %></a>
            <% } %>
            <% if (category.childsTotal > 0) { %>
            <ul class="submenu-list" data-top="<%= category.id %>">
              <% for (let cate of categories) { %>
              <% if (cate.parentId == category.id) { %>
              <li class="submenu" data-id="<%= cate.id %>" data-pid="<%= cate.parentId %>">
                <a href="/?c=<%= cate.cateLink %>"><%= cate.cateName %></a>
              </li>
              <% } %>
              <% } %>
            </ul>
            <% } %>
          </li>
          <% } %>
          <% } %>
        </ul>
      </div>
      <div class="menu-btn">
        <i class="iconfont icon-menu2" id="icon-menu"></i>
      </div>
    </nav>
  </header>

  <script>
    const elLoading = document.querySelector('#loading')
    const topMenus = Array.from(document.querySelectorAll('.btn-menu')).filter(item => item.getAttribute('data-id'))
    const subMenuLists = document.querySelectorAll('.submenu-list')
    const iconMenu = document.querySelector('#icon-menu') // 移动端导航栏按钮

    iconMenu.addEventListener('click', e => {
      // 阻止导航栏按钮冒泡到 document 上
      cancelBubble(e)
      callMenuBar()
    }, false)

    // 禁用滚动条
    elLoading && (document.documentElement.style.overflowY = 'hidden')

    topMenus.forEach(menu => {
      const id = menu.getAttribute('data-id')
      const subMenu = Array.from(subMenuLists).find(menu => menu.getAttribute('data-top') == id)
      menu.addEventListener('mouseenter', e => {
        subMenu.addEventListener('mouseenter', e => {
          subMenu.setAttribute('data-in', true)
        }, false)
        subMenu.addEventListener('mouseleave', e => {
          subMenu.setAttribute('data-in', false)
          setTimeout(() => {
            subMenu.style.opacity = 0
            subMenu.style.height = 0
            setTimeout(() => {
              subMenu.style.display = 'none'
            }, 100)
          }, 150)
        }, false)
        subMenu.style.display = 'flex'
        setTimeout(() => {
          subMenu.style.opacity = 1
          subMenu.style.height = subMenu.children.length * 44 + 'px'
        }, 60)
      })

      menu.addEventListener('mouseleave', e => {
        setTimeout(() => {
          if (!subMenu.getAttribute('data-in') || subMenu.getAttribute('data-in') == 'false') {
            subMenu.style.opacity = 0
            subMenu.style.height = 0
            setTimeout(() => {
              subMenu.style.display = 'none'
            }, 100)
          }
        }, 150)

      }, false)

    })

    if (getViewPortOffset().clientWidth <= 550 || isMobile()) {
      // 如果是手机端，则接管导航栏点击事件
      topMenus.forEach(menu => {
        menu.addEventListener('click', e => {
          if (e.target === menu.querySelector('i')) {
            cancelBubble(e)
            e.preventDefault() // 阻止下拉按钮产生的跳转效果
          }
        }, false)
      })
    }

    // call 导航栏
    function callMenuBar() {
      const navbar = document.querySelector('.menu')

      if (navbar.getAttribute('data-show') == 1) {
        closeMenuBar()
      } else {
        openMenuBar()
      }

      document.body.addEventListener('click', e => {
        if (navbar.getAttribute('data-show') == 1) {
          closeMenuBar()
        }
      }, false)
    }

    // open 导航栏
    function openMenuBar() {
      const navbar = document.querySelector('.menu')
      const iconMenu = document.querySelector('#icon-menu')
      navbar.style.transform = 'translateY(0)'
      setTimeout(() => {
        navbar.style.opacity = 1
      }, 100)

      navbar.setAttribute('data-show', 1)
      iconMenu.parentElement.style.transform = 'rotate(180deg)'
      iconMenu.className = 'iconfont icon-close'
      iconMenu.parentElement.style.transform = 'rotate(360deg)'
    }

    // close 导航栏
    function closeMenuBar() {
      const navbar = document.querySelector('.menu')
      const iconMenu = document.querySelector('#icon-menu')
      const navbarOffsetHeight = parseInt(getStyle(navbar, 'height'))

      const offset = navbarOffsetHeight + 100 + 'px'
      navbar.style.transform = `translateY(-${offset})`
      navbar.style.opacity = 0
      navbar.setAttribute('data-show', 0)
      iconMenu.parentElement.style.transform = 'rotate(180deg)'
      iconMenu.className = 'iconfont icon-menu2'
      iconMenu.style.transform = 'rotate(360deg)'
    }


    function getStyle(el, prop) {
      if (!el || !prop) {
        return false
      }
      return window.getComputedStyle(el, null).getPropertyValue(prop) || window.getComputedStyle(el, null)[prop]
    }

    function getViewPortOffset() {
      const clientWidth = document.body.clientWidth || document.documentElement.clientWidth
      const clientHeight = document.body.clientHeight || document.documentElement.clientHeight
      return {
        clientWidth,
        clientHeight
      }
    }

    function isMobile() {
      const ua = navigator.userAgent.toLowerCase()
      return (/mobi/i.test(ua))
    }

    function cancelBubble(e) {
      if (e && e.stopPropagation)
        e.stopPropagation()
      else window.event.cancelBubble = true
    }

  </script>
