<%- include('layout/_header') %>
<link rel="stylesheet" href="../stylesheets/atom-one-light.css">
<script src="../scripts/highlight.pack.js"></script>
<script>
  hljs.initHighlightingOnLoad()

</script>
<section id="article">
  <div class="content">
    <div class="article-header">
      <div class="title">
        <a href="/"><i class="iconfont icon-home1"></i><%= article.title %></a>
      </div>
      <div class="progress" style="width: 12%"></div>
    </div>
    <div class="title-box">
      <h1><%= article.title %></h1>
      <div class="post-box">
        <div class="publish-time"><i class="iconfont icon-calendar"> <%= article.createdAt %></i></div>
        <div class="box-like"><i class="iconfont icon-Heart"> <%= article.likes %></i></div>
        <div class="post-hots"><i class="iconfont icon-footprint"> <%= article.views %></i></div>
      </div>
    </div>
    <div class="article-content">
      <!-- 文章内容开始 -->
      <%- article.content %>
      <!-- 文章内容结束 -->

      <!-- 点赞 -->
      <div class="give-like">
        <div class="btn-like">
          <i class="iconfont icon-zan1"></i>
          <span><%= article.likes %></span>
        </div>
      </div>

      <!-- 文章地址 转载信息 -->
      <div class="posmition">
        <p>文章版权所有：<a href="/" target="_blank">PORK's BLOG</a>，采用 <a
            href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" target="_blank">知识共享署名-非商业性使用 4.0
            国际许可协议</a> 进行许可。</p>
        <p>欢迎分享，转载务必保留出处及原文链接 <a id="article-link" href="<%= article.linkUrl %>" target="_blank"></a></p>
      </div>

      <!-- 上一篇 下一篇文章 -->
      <div class="next-box">
        <% if (article.prevArticle) { %>
        <p><a href="<%= article.prevArticle.linkUrl %>"><i
              class="iconfont icon-handoleft"></i><span><%= article.prevArticle.title %></span></a>
        </p>
        <% } else { %>
        <p><a href="javascript:;"><i class="iconfont icon-handoleft"></i><span>没有了</span></a>
        </p>
        <% } %>
        <% if (article.nextArticle) { %>
        <p><a href="<%= article.nextArticle.linkUrl %>"><span><%= article.nextArticle.title %></span><i
              class="iconfont icon-hand-o-right"></i></a>
        </p>
        <% } else { %>
        <p><a href="javascript:;"><span>没有了</span><i class="iconfont icon-hand-o-right"></i></a>
          <% } %>
      </div>
    </div>

  </div>
</section>
<script type="module">
  import {
    utils
  } from "/scripts/utils.js";
  document.addEventListener('readystatechange', e => {
    if (document.readyState === 'complete') {
      // Document is ready...
      const articleId = '<%= article.id %>'
      const categoryId = '<%= article.categoryId %>'
      let articleLikes = '<%= article.likes %>'

      utils.imgLightBoxInit()

      const elArticleLink = document.querySelector('#article-link')
      const progress = document.querySelector('.progress')
      const titleLayer = document.querySelector('.article-header')
      const btnLike = document.querySelector('.btn-like')

      elArticleLink.innerText = elArticleLink.href

      // 导航激活
      const menus = document.querySelectorAll('.btn-menu')
      const submenus = document.querySelectorAll('.submenu')
      const currentCategory = Array.from(submenus).find(menu => menu.getAttribute('data-id') == categoryId)
      const topMenu = Array.from(menus).find(menu => menu.getAttribute('data-id') ==
        currentCategory.getAttribute('data-pid'))
      topMenu.classList.add('active')

      // 点赞
      btnLike.addEventListener('click', giveLike, false)

      // 所有文章内的 a 标签在新窗口中打开
      const articleContent = document.querySelector('.article-content')
      const articleLinks = articleContent.querySelectorAll('a')
      articleLinks.forEach((link, index) => {
        if (index >= articleLinks.length - 2) return // 最后两个超链接不应用该规则（上一篇/下一篇文章）
        link.addEventListener('click', e => {
          e.preventDefault()
          const url = link.href || link.getAttribute('href')
          open(url)
        }, false)
      })

      document.addEventListener('scroll', e => {
        const scrollTop = document.documentElement.scrollTop || document.body.scrollTop
        if (scrollTop > 60) {
          if (!titleLayer.classList.contains('active')) {
            utils.toggleClassName(titleLayer, 'active')
          }
        } else {
          if (titleLayer.classList.contains('active')) {
            utils.toggleClassName(titleLayer, 'active')
          }
        }
        if (progress) {
          progress.style.width = (scrollTop / (document.body.clientHeight - document.documentElement
              .clientHeight) *
            100).toFixed(4) + '%'
        }
      }, false)

      function giveLike() {
        utils.ajax('/api/index/incArticleLikes', {
          method: 'POST',
          body: {
            id: articleId
          }
        }).then(res => {
          if (res.errno === 0) {
            btnLike.children[1].innerText = ++articleLikes
            btnLike.style.backgroundColor = '#eee'
            btnLike.style.color = '#a9aab1'
            btnLike.removeEventListener('click', giveLike, false)
          }
        })
      }




    }
  }, false)

</script>
<%- include('layout/_footer') %>
