<%- include('layout/_header') %>

<!-- 文章列表 -->
<section id="article-list">
  <div class="container">
    <div class="article-items">
      <% for (let article of articleList) { %>
      <a href="<%= article.linkUrl %>" class="article-item">
        <div class="box-tag">
          <div class="tag"><%= article.cateName %></div>
        </div>
        <div class="box-img">
          <img src="<%= article.showImgUrl %>" alt="">
        </div>
        <div class="box-info">
          <p class="publish-time">
            <i class="iconfont icon-calendar"> <%= article.createdAt %></i>
          </p>
          <span class="box-title"><%= article.title %></span>
          <p class="article-tags">
            <i class="iconfont icon-tags"></i>
            <% for (let tag of article.tags) { %>
            <span><%= tag %></span>
            <% } %>
          </p>
          <p class="article-comments">
            <span class="article-hots">
              <i class="iconfont icon-footprint"> <%= article.views %></i>
            </span>
            <span class="comments">
              <i class="iconfont icon-Heart"> <%= article.likes %></i>
            </span>
          </p>
        </div>
      </a>
      <% } %>

      <!-- 分页 -->
      <% if (articleList.pageTotal) { %>
      <div id="paginator">
        <ul class="page-list">
          <li title="上一页" class="item-disabled" id="btnPrev">
            <a href="javascript:;"><i class="iconfont icon-left"></i></a>
          </li>
          <% for (let i = 1; i <= articleList.pageTotal; i++) { %>
          <li title="<%= i %>" class="" id="pageSelector">
            <a href="javascript:;"><%= i %></a>
          </li>
          <% } %>
          <li title="下一页" id="btnNext">
            <a href="javascript:;"><i class="iconfont icon-right"></i></a>
          </li>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
</section>

<%- include('layout/_tags') %>

<script type="module">
  import {
    utils
  } from "./scripts/utils.js"
  document.addEventListener('readystatechange', e => {
    if (document.readyState === 'complete') {
      const currentParams = utils.queryString(location.href)
      const btnPrev = document.querySelector('#btnPrev')
      const btnNext = document.querySelector('#btnNext')
      const pageSelectors = document.querySelectorAll('#pageSelector')

      // 分页按钮/选择器 激活逻辑
      pageSelectors.forEach(item => {
        if (!currentParams.pageIndex) {
          pageSelectors[0].classList.add('item-active')
        }
        item.addEventListener('click', e => {
          if (!currentParams.pageIndex && item.title == 1) return
          let url = location.href
          const params = utils.queryString(location.href)
          const currentPage = params.pageIndex
          if (currentPage === item.title) return
          if (currentPage) {
            url = url.replace(`=${currentPage}`, `=${item.title}`)
          } else {
            if (url.indexOf('?') > -1) {
              url += '&pageIndex=' + item.title
            } else {
              url += '?pageIndex=' + item.title
            }
          }
          location.href = url
        }, false)
        // 激活页面选择器中的第 n 页
        if (item.title == currentParams.pageIndex) {
          utils.toggleClassName(item, 'item-active')
        }
      })
      // 上一页点击事件
      btnPrev.addEventListener('click', e => {
        if (currentParams.pageIndex == 1 || !currentParams.pageIndex) return
        location.href = '?pageIndex=' + --currentParams.pageIndex
      }, false)

      // 下一页点击事件
      btnNext.addEventListener('click', e => {
        if (currentParams.pageIndex == pageSelectors.length) return
        if (pageSelectors.length === 1) return
        if (!currentParams.pageIndex) {
          currentParams.pageIndex = 1
        }
        let url = location.href

        if (url.indexOf('pageIndex') > -1) {
          url = url.replace(`=${currentParams.pageIndex}`, `=${++currentParams.pageIndex}`)
        } else {
          url += '?pageIndex=' + ++currentParams.pageIndex
        }
        location.href = url
      }, false)


    }
  }, false)

</script>
<%- include('layout/_footer') %>
