<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../stylesheets/manager.css" />
  <link rel="stylesheet" href="../../stylesheets/iconfont.css">
  <title><%= pageInfo.title %></title>
</head>

<body>
  <section class="wrapper">
    <div class="container">
      <div id="article" class="m-item">
        <h2 class="m-title" title="这是一个Tips"><%= pageInfo.title %></h2>
        <ul class="form-group dis-flex">
          <li id="btnOrder" class="btn btn-lightgray" data-type="order">默认</li>
          <li id="btnOrder" class="btn btn-lightgray" data-type="createdAt">最新</li>
          <li id="btnOrder" class="btn btn-lightgray" data-type="views">人气</li>
          <li id="btnOrder" class="btn btn-lightgray" data-type="likes">点赞</li>
        </ul>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">文章标题</th>
              <th scope="col">缩略图</th>
              <th scope="col">排序</th>
              <th scope="col">浏览</th>
              <th scope="col">点赞</th>
              <th scope="col">展示/隐藏</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(let article of articleList) { %>
            <tr>
              <th scope="row"><%= article.id %></th>
              <td class="td-title" id="article-title" data-id="<%= article.id %>">
                <a href="../<%= article.linkUrl %>" target="_blank"><%= article.title %></a>
              </td>
              <td class="td-img"><img title="文章缩略图" src="<%= article.showImgUrl %>" alt="文章缩略图"></td>
              <td><%= article.order %></td>
              <td><%= article.views %></td>
              <td><%= article.likes %></td>
              <td>
                <% if (article.hidden == 1) { %>
                <i class="iconfont icon-toggleoff" id="btnHidden" data-v="<%= article.hidden %>"
                  data-id="<%= article.id %>"></i>
                <% } else { %>
                <i class="iconfont icon-toggle-on" id="btnHidden" data-v="<%= article.hidden %>"
                  data-id="<%= article.id %>"></i>
                <% } %>
              </td>
              <td>
                <button class="btn btn-outline-primary btn-small" id="btnEdit" data-id="<%= article.id %>">编辑</button>
                <button class="btn btn-outline-danger btn-small" id="btnDelete" data-id="<%= article.id %>">删除</button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <% if (articleList.pageTotal) { %>
        <div class="form-group paginator">
          <ul class="page-list dis-flex justify-content-center">
            <li title="上一页" id="btnPrev">
              <a href="javascript:;"><i class="iconfont icon-left"></i></a>
            </li>
            <% for (let i = 1; i <= articleList.pageTotal; i++) { %>
            <li title="<%= i %>" class="" id="pageSelector">
              <a href="javascript:;"><%= i %></a>
            </li>
            <% } %>
            <li title="下一页" id="btnNext">
              <a href="javascript:;"><i class="iconfont icon-right"></i></a>
            </li>
          </ul>
        </div>
        <% } %>
      </div>
    </div>
  </section>

  <script src='../../scripts/manager.js'></script>
  <script type='module'>
    import {
      utils
    } from '../../scripts/utils.js'
    utils.showInfo()
    utils.imgLightBoxInit() // 图片灯箱初始化

    document.addEventListener('readystatechange', e => {
      if (document.readyState === 'complete') {

        // 当前页面 url 的 params
        const currentParams = utils.queryString(location.href)
        const pageSelectors = document.querySelectorAll('#pageSelector') // 分页按钮（选择器）
        const btnPrev = document.querySelector('#btnPrev') // 上一页
        const btnNext = document.querySelector('#btnNext') // 下一页
        const orderButtons = document.querySelectorAll('#btnOrder') // 排序按钮组
        const btnToggleList = document.querySelectorAll('#btnHidden') // 展示/隐藏 开关组
        const editButtons = document.querySelectorAll('#btnEdit') // 编辑文章按钮组
        const delButtons = document.querySelectorAll('#btnDelete') // 删除文章按钮组

        if (!currentParams.pageIndex) {
          currentParams.pageIndex = 1 // 如果 url 参数中没有 pageIndex 则默认为 1 第一页
        }
        // 分页按钮/选择器 激活逻辑
        pageSelectors.forEach(item => {
          item.addEventListener('click', e => {
            let url = location.href
            const params = utils.queryString(location.href)
            const currentPage = params.pageIndex
            if (currentPage) {

              url = url.replace(`=${currentPage}`, `=${item.title}`)
            } else {
              if (url.indexOf('?') > -1) {
                url += '&pageIndex=' + item.title
              } else {
                url += '?pageIndex=' + item.title
              }
            }
            location.href = url
          }, false)
          // 激活页面选择器中的第 n 页
          if (item.title == currentParams.pageIndex) {
            utils.toggleClassName(item, 'active')
          }
        })

        // 上一页点击事件
        btnPrev.addEventListener('click', e => {
          if (currentParams.pageIndex == 1) return
          location.href = 'articles?pageIndex=' + --currentParams.pageIndex
        }, false)

        // 下一页点击事件
        btnNext.addEventListener('click', e => {
          if (currentParams.pageIndex == pageSelectors.length) return
          let url = location.href

          if (url.indexOf('pageIndex') > -1) {
            url = url.replace(`=${currentParams.pageIndex}`, `=${++currentParams.pageIndex}`)
          } else {
            url += '?pageIndex=' + ++currentParams.pageIndex
          }
          location.href = url
        }, false)

        // 排序按钮组
        orderButtons.forEach(button => {
          let url = location.href
          const orderType = button.getAttribute('data-type')
          const params = utils.queryString(url)
          const currentOrder = params.orderby
          if (!currentOrder && button.getAttribute('data-type') === 'order') {
            utils.toggleClassName(button, 'active')
          }
          if (button.getAttribute('data-type') == currentOrder) {
            utils.toggleClassName(button, 'active')
          }

          button.addEventListener('click', e => {

            if (/orderby/.test(url)) {
              url = url.replace(`=${currentOrder}`, `=${orderType}`)
            } else {
              if (url.indexOf('?') > -1) {
                url += '&orderby=' + orderType
              } else {
                url += '?orderby=' + orderType
              }
            }

            location.href = url
          }, false)
        })

        // 文章 展示/隐藏 开关监听
        btnToggleList.forEach(item => {
          item.addEventListener('click', e => {
            const id = item.getAttribute('data-id')
            const value = item.getAttribute('data-v')
            if (value == 0) {
              utils.ajax('/api/manager/setPropOfArticle', {
                method: 'POST',
                body: {
                  id,
                  prop: 'hidden',
                  value: 1
                }
              }).then(res => {
                if (res.errno === 0) {
                  utils.showMessage({
                    title: 'Ok. 该文章将不会出现在前端文章列表中',
                    icon: 'Success'
                  })
                  item.className = 'iconfont icon-toggleoff'
                  item.setAttribute('data-v', 1)
                } else {
                  utils.showMessage({
                    title: res.message,
                    icon: 'Failed'
                  })
                }
              })
            } else {
              utils.ajax('/api/manager/setPropOfArticle', {
                method: 'POST',
                body: {
                  id,
                  prop: 'hidden',
                  value: 0
                }
              }).then(res => {
                if (res.errno === 0) {
                  utils.showMessage({
                    title: 'Ok. 该文章将会正常展示在前端文章列表中',
                    icon: 'Success'
                  })
                  item.className = 'iconfont icon-toggle-on'
                  item.setAttribute('data-v', 0)
                } else {
                  utils.showMessage({
                    title: res.message,
                    icon: 'Failed'
                  })
                }
              })
            }
          }, false)
        })

        // 编辑文章
        editButtons.forEach(button => {
          button.addEventListener('click', e => {
            const id = button.getAttribute('data-id')
            if (!id) return
            location.href = 'writing?id=' + id
          }, false)
        })

        // 删除文章
        delButtons.forEach(button => {
          button.addEventListener('click', e => {
            if (confirm('删除后将无法恢复，确定要删除吗？')) {
              const id = button.getAttribute('data-id')
              if (!id) return
              utils.ajax('/api/manager/delArticle', {
                method: 'POST',
                body: {
                  id
                }
              }).then(res => {
                if (res.errno === 0) {
                  utils.showMessage({
                    title: res.message,
                    icon: 'Success',
                    cb() {
                      location.reload()
                    }
                  })
                }
              })
            }
          }, false)
        })


      }
    }, false)

  </script>
</body>

</html>
