<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../stylesheets/manager.css" />
  <link rel="stylesheet" href="../../stylesheets/iconfont.css">
  <title><%= pageInfo.title %></title>
</head>

<body>
  <section class="wrapper">
    <div class="container">
      <div id="article" class="m-item">
        <h2 class="m-title" title="这是一个Tips"><%= pageInfo.title %></h2>
        <ul class="form-group dis-flex">
          <li class="btn btn-lightgray active">默认</li>
          <li class="btn btn-lightgray">发布时间</li>
          <li class="btn btn-lightgray">人气</li>
          <li class="btn btn-lightgray">点赞</li>
        </ul>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">文章标题</th>
              <th scope="col">缩略图</th>
              <th scope="col">排序</th>
              <th scope="col">浏览次数</th>
              <th scope="col">点赞次数</th>
              <th scope="col">操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(let article of articleList) { %>
            <tr>
              <th scope="row"><%= article.id %></th>
              <td class="td-title" id="article-title" data-id="<%= article.id %>">
                <a href="../<%= article.linkUrl %>"><%= article.title %></a>
              </td>
              <td class="td-img"><img src="<%= article.showImgUrl %>" alt=""></td>
              <td><%= article.order %></td>
              <td><%= article.views %></td>
              <td><%= article.likes %></td>
              <td>
                <button class="btn btn-outline-primary btn-small" id="btnEdit" data-id="<%= article.id %>">编辑</button>
                <button class="btn btn-outline-danger btn-small" id="btnDelete" data-id="<%= article.id %>">
                  删除
                </button>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
        <div class="form-group">
          <a href="writing" class="btn btn-primary">撰写文章</a>
        </div>
      </div>
    </div>
  </section>

  <script src='../../scripts/manager.js'></script>
  <script type='module'>
    import {
      utils
    } from '../../scripts/utils.js'

  </script>
</body>

</html>
