<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../stylesheets/manager.css">
	<link rel="stylesheet" href="../stylesheets/font-awesome.min.css">
	<title><%= pageInfo.title %></title>
</head>

<body>
	<section class="wrapper">
		<div class="container">
			<div id="config" class="m-item">
				<h2 class="m-title" title="这是一个Tips"><%= pageInfo.title %></h2>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">分类名称</th>
							<th scope="col">文章数量</th>
							<th scope="col">排序</th>
							<th scope="col">操作</th>
						</tr>
					</thead>
					<tbody>
						<% for(let i in catesList) { %>
							<% if (!catesList[i].parentId) { %>
							<tr class="cate-main">
							<% } else { %>
							<tr>
							<% } %>
								<th scope="row"><%= catesList[i].id %></th>
								<% if (catesList[i].parentId) { %>
									<td style="padding-left: 2rem;"> -- <%= catesList[i].cateName %></td>
								<% } else { %>
									<td><%= catesList[i].cateName %></td>
								<% } %>
								<td><%= catesList[i].order %></td>
								<td><%= catesList[i].order %></td>
								<td>
									<button class="btn btn-outline-primary btn-small">编辑</button>
									<button class="btn btn-outline-danger btn-small">删除</button>
								</td>
							</tr>
						<% } %>
					</tbody>
				</table>
				<div class="form-group">
					<button class="btn btn-success">新增</button>
				</div>
			</div>
		</div>
	</section>

	<script type="module">
		import {
			utils
		} from '../scripts/utils.js'

		document.addEventListener('readystatechange', e => {
			if (document.readyState === 'complete') {
				// 页面就绪
				(() => {
					// 编辑分类
					const editBtns = document.querySelectorAll('button.btn-outline-primary')
					editBtns.forEach((item, i) => {
						item.addEventListener('click', e => {
							console.log(e.target.parentNode.parentNode)
						}, false)
					})

				})()
			}
		}, false)
	</script>

</body>

</html>
