<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../stylesheets/manager.css">
  <title><%= title %></title>
</head>

<body>
  <section class="wrapper">
    <div class="container">
      <div id="config" class="m-item">
        <h2 class="m-title"><%= title %></h2>
        <form action="#" class="m-form">
          <div class="form-group">
            <label for="site-title">网站/应用标题</label>
            <input type="text" required name="site-title" id="site-title" value="<%= siteTitle %>"
              placeholder="Pork's Web Site">
          </div>
          <div class="form-group">
            <label for="sub-title">副标题</label>
            <input type="text" name="sub-title" id="sub-title" value="<%= subTitle %>" placeholder="但行好事，莫问前程">
          </div>
          <div class="form-group">
            <label for="views">访问总量</label>
            <input type="number" name="views" id="views" value="<%= views %>" placeholder="0">
          </div>
          <div class="form-group">
            <label for="copyright">版权信息</label>
            <input type="text" name="copyright" id="copyright" value="<%= copyRight %>"
              placeholder="© 2020 - 2021 猪肉王子">
          </div>
          <div class="form-group">
            <label for="icp">备案信息</label>
            <input type="text" name="icp" id="icp" value="<%= icp %>" placeholder="">
          </div>
          <div class="form-group">
            <label for="theme">主题</label>
            <input type="text" name="theme" id="theme" value="<%= theme %>" placeholder="主题名称（非开发人员请保持默认）"
              value="default">
          </div>
          <div class="form-group">
            <input type="submit" id="btn-submit" value="保存">
          </div>
        </form>
      </div>
    </div>
  </section>

  <script type="module">
    import {
      utils
    } from '../scripts/utils.js'

    document.addEventListener('readystatechange', e => {
      if (document.readyState === 'complete') {
        // 就绪
        let oldConfig = {
          siteTitle: '<%= siteTitle %>',
          subTitle: '<%= subTitle %>',
          views: '<%= views %>',
          copyRight: '<%= copyRight %>',
          icp: '<%= icp %>',
          theme: '<%= theme %>'
        } // 先保存服务端传回来的数据

        const btnSubmit = document.querySelector('#btn-submit')
        btnSubmit && btnSubmit.addEventListener('click', e => {
          e.preventDefault()
          const siteTitle = document.querySelector('#site-title').value
          const subTitle = document.querySelector('#sub-title').value
          const views = document.querySelector('#views').value
          const copyRight = document.querySelector('#copyright').value
          const icp = document.querySelector('#icp').value
          const theme = document.querySelector('#theme').value

          const formData = {
            siteTitle,
            subTitle,
            views,
            copyRight,
            icp,
            theme
          }

          if (utils.isObjectValueEqual(oldConfig, formData)) {
            utils.showMessage({
              title: '未变更内容无需更新',
              icon: 'failed'
            })
            return
          }

          utils.ajax(location.origin + '/api/manager/setConfig', {
            method: 'POST',
            body: formData
          }).then(res => {
            if (res.errno === 0) {
              utils.showMessage({
                title: res.message,
                icon: 'success'
              })

              oldConfig = formData

              const oldBackgroundColor = utils.getStyle(btnSubmit, 'backgroundColor')

              btnSubmit.style.background = '#898989'
              btnSubmit.style.cursor = 'not-allowed'
              btnSubmit.disabled = true
              setTimeout(() => {
                btnSubmit.style.backgroundColor = oldBackgroundColor
                btnSubmit.style.cursor = 'pointer'
                btnSubmit.disabled = false
              }, 3000)
            }
          })
        }, false)
      }
    }, false)

  </script>

</body>

</html>
